<div class="container">
  <br />
  <h1>Saved Weathers</h1>
  <table id="saved_weathers">
    <thead>
      <tr>
        <th>Yahoo title</th>
        <th>Yahoo text</th>
        <th>Yahoo temp</th>
        <th>owm cloud</th>
        <th>owm min</th>
        <th>owm max</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @saved_weathers %>
    </tbody>
  </table>
</div>
